@media (min-width: 1200px) {
    .contact{
        width: 100%;
        background-color: #fff;
        display: flex;
        justify-content: center;
    }

    .contact-container {
        width: 75rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3.125rem auto;
        padding-bottom: 6.25rem;
        padding-top: 6.25rem;
    }

    .contact-heading {
        color: #020894;
        font-size: clamp(1.625rem, 5vw, 1.75rem);
        font-weight: 200;
        width: 100%;
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
        margin: .5rem 0rem 1rem;
    }

    .contact-heading span {
        color: #495057;
        margin-left: 1rem;
    }

    .contact-heading::after {
        content: '';
        display: block;
        width: 22rem;
        height: .0625rem;
        margin-left: 1.25em;
        background-color: #dee2e6;
    }

    .contact-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 65%;
    }

    .contact-content p {
        color: #ADB5BD;
        margin-bottom: 1rem;
        font-size: .925rem;
    }

    .contact-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact-form-line-one {
        width: 100%;
        margin-bottom: .5rem;
        display: inline-flex;
        justify-content: space-between;
        
    }

    .contact-form-line-one input {
        color: #495057;
        border-radius: .5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .25rem;
        font-size: .925rem;
        border: 1px solid #495057;
        width: 47%;
    }

    .contact-form-line-one input:placeholder-shown {
        color: #ADB5BD; 
    }

    .contact-form-message {
        width: 100%;
        margin-bottom: .5rem;
        color: #ADB5BD; 
        font-size: .925rem;
    }

    .contact-form-message textarea {
        width: 99.3%;
        height: 5rem;
        color: #495057;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: .5rem;
        border: 1px solid #495057;
        padding-left: .25rem;
        padding-top: .25rem;
        font-size: .925rem;
    }

    .contact-form-message textarea:placeholder-shown {
        color: #ADB5BD; 
    }

    .contact-form-button button {
        font-size: .925rem;
        color: #495057;
        padding: .75rem 1rem;
        border: 2px solid #495057;
        background-color: transparent;
        border-radius: .5rem;
    }

    .contact-form-button button:hover {
        background-color: rgba(0,0,0,.1);
        cursor: pointer;
    }
}

@media (max-width: 1200px) {
    .contact{
        width: 100%;
        background-color: #fff;
        display: flex;
        justify-content: center;
    }

    .contact-container {
        width: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 5rem;
        padding-top: 6.25rem;
    }

    .contact-heading {
        color: #020894;
        font-size: 1.25rem;
        font-weight: 200;
        width: 100%;
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
        margin: .5rem 0rem 1rem;
    }

    .contact-heading span {
        color: #495057;
        margin-left: 1rem;
    }

    .contact-heading::after {
        content: '';
        display: block;
        width: 50%;
        height: .0625rem;
        margin-left: 1.25em;
        background-color: #dee2e6;
    }

    .contact-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .contact-content p {
        color: #ADB5BD;
        margin-bottom: 1rem;
        font-size: .925rem;
    }

    .contact-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact-form-line-one {
        width: 100%;
        margin-bottom: .5rem;
        display: inline-flex;
        justify-content: space-between;
        
    }

    .contact-form-line-one input {
        color: #495057;
        border-radius: .5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .25rem;
        font-size: .925rem;
        border: 1px solid #495057;
        width: 47%;
    }

    .contact-form-line-one input:placeholder-shown {
        color: #ADB5BD; 
    }

    .contact-form-message {
        width: 100%;
        margin-bottom: .5rem;
        color: #ADB5BD; 
        font-size: .925rem;
    }

    .contact-form-message textarea {
        width: 99.3%;
        height: 5rem;
        color: #495057;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: .5rem;
        border: 1px solid #495057;
        padding-left: .25rem;
        padding-top: .25rem;
        font-size: .925rem;
    }

    .contact-form-message textarea:placeholder-shown {
        color: #ADB5BD; 
    }

    .contact-form-button button {
        font-size: .925rem;
        color: #495057;
        padding: .75rem 1rem;
        border: 2px solid #495057;
        background-color: transparent;
        border-radius: .5rem;
    }

    .contact-form-button button:hover {
        background-color: rgba(0,0,0,.1);
        cursor: pointer;
    }
}
