@media (min-width:1200px) {
    .featured {
        background-color: #fff;
    }

    .featured-container {
        width: 75rem;
        justify-content: flex-start;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0rem auto;
        padding: 3.125rem auto;
        padding-top: 6.25rem;
    }

    .featured-heading {
        color: #020894;
        font-size: clamp(1.625rem, 5vw, 1.75rem);
        font-weight: 200;
        width: 100%;
        display: inline-flex;
        justify-content: flex-end;
        align-items: center;
        margin: .5rem 0rem 2rem; 
    }

    .featured-heading span {
        color: #495057;
        margin-left: 1rem;
    }

    .featured-heading::after {
        content: '';
        display: block;
        width: 24.5rem;
        height: .0625rem;
        margin-left: 1.25em;
        margin-right: 1rem;
        background-color: #dee2e6;
    }

    .featured-grid {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .featured-grid-template {
        display: grid;
        align-items: center;
        margin-bottom: 6rem;
        width: 100%;
        grid-template-columns: 25rem 50rem;
    }

    .featured-content {
        padding: 1.25rem 0rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .featured-title {
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 1rem;
        margin-bottom: 1rem;
        color: #495057;
    }

    .featured-desc {
        color: #ADB5BD;
        margin-bottom: 2rem;
        margin-right: 1rem;
        width: 100%;
        display: flex;
        justify-content: flex-end;

    }

    .featured-desc p {
        max-width: 75%;
        text-align: right;
        font-size: .925rem;
        background-color: #dee2e6;
        border-radius: .5rem;
        padding: .25rem;
    }

    .featured-tech-list {
        display: flex;
        flex-direction: row;
        list-style: none;
        font-size: .925rem;
    }

    .featured-tech-list li {
        margin-right: 1rem;
        color: #CED4DA;

    }

    .featured-links {
        display: inline-flex;
        margin-right: 1rem;
        margin-top: 1rem;
        font-size: 1.25rem;
    }

    .github-link a{
        color: #ADB5BD;
        margin-right: 1rem;
    }

    .github-link a:hover{
        color: #020894;  
        transform: scale(1.5);
    }

    .url-link a {
        color: #ADB5BD;
    }

    .url-link a:hover {
        color: #020894;  
        transform: scale(1.5);
    }

    .featured-image img {
        max-width: 42.5rem;
        border-radius: .5rem;
    }
}

@media (max-width:1200px) {
    .featured-container {
        width: 85%;
        justify-content: flex-start;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0rem auto;
    }

    .featured-heading {
        color: #020894;
        font-size: 1.25rem;
        font-weight: 200;
        width: 100%;
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
        margin: .5rem 0rem 2rem;
        padding-top: 6.25rem;
    }

    .featured-heading::after {
        content: '';
        display: block;
        width: 55%;
        height: .0625rem;
        margin-left: 1.25em;
        background-color: #dee2e6;
    }

    .featured-heading span {
        color: #495057;
        margin-left: 1rem;
    }

    .featured-grid {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .featured-grid-template {
        display: grid;
        align-items: center;
        margin-bottom: 3rem;
        width: 100%;
        grid-template-rows:repeat(2);
    }

    .featured-title {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 1rem;
        margin-bottom: 1rem;
        color: #495057;
    }

    .featured-desc {
        color: #ADB5BD;
        margin-bottom: .5rem;
        margin-right: 1rem;
        width: 100%;
        display: flex;
        justify-content: flex-start;

    }

    .featured-desc p {
        max-width: 100%;
        text-align: center;
        font-size: .925rem;
        background-color: #dee2e6;
        border-radius: .5rem;
        padding: .25rem;
    }

    .featured-tech-list {
        display: flex;
        flex-direction: row;
        width: 100%;
        list-style: none;
        font-size: .925rem;
        justify-content: center;
    }

    .featured-tech-list li {
        margin-right: 1rem;
        color: #CED4DA;
    }


    .featured-links {
        display: inline-flex;
        justify-content: center;
        width: 100%;
        margin-right: 1rem;
        margin-top: .5rem;
        font-size: 1.25rem;
    }

    .github-link a{
        color: #ADB5BD;
        margin-right: 1rem;
    }

    .github-link a:hover{
        color: #020894;  
        transform: scale(1.5);
    }

    .url-link a {
        color: #ADB5BD;
    }

    .url-link a:hover {
        color: #020894;  
        transform: scale(1.5);
    }

    .featured-image img {
        max-width: 100%;
        border-radius: .5rem;
    }
}